.result {
  height: 60px;
  background-color: #71a4bd;
  width: 100%;
  border-radius: 10px;
}

.result p {
  font-size: 40px;
  margin: 10px;
  display: inline-block;
}

.calculator-body {
  max-width: 500px;
  margin: auto;
}

.button {
  display: block;
  border-radius: 10px;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  border-radius: 10px;
  font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
}